*{
    margin: 0px;
    padding: 0px;
}
#box{
    border: 2px solid rgb(52, 52, 117);
    background-color: beige ;
    width: 690px;
    margin: auto; /*The outer main is aligned center*/
}
.div1{
    border: 1.5px solid black;
    margin: 10px;
    padding: 10px;
    width: 300px;
}
p,h1{
    text-align: center; /*The text inside the boxes are aligned center*/
}
#id1{
    float: left; /*It allows the box float on left side*/
}
#id2{
    float: right; /*It allows the box float on right side*/
}
#id3{
    width: 50%;
    /*clear: left;*/ /*It doesnt allow other boxes to overlap on left side*/
    /*clear: right;*/ /*It doesnt allow other boxes to overlap on right side*/
    clear: both; /*It clears overlaps from both the sides*/
}