.header{
    border: 2.5px solid black;
    text-align: center;
    background-color: lightpink;
}
.box{
    border: 2px solid midnightblue;
    background-color: mistyrose;
    width: auto;
    margin: 20px auto;
}
.div1{
    border: 1.8px solid rebeccapurple;
    background-color: rgb(235, 235, 213);
    margin: 10px;
    padding: 10px;
    width: 459.5px; /*One box consumes only the required space(inline element) and provide space to other boxes inside the main box*/
    /*The outer box is block element and inner boxes are inline elements*/
    /* display: inline; - This converts block into inline */
    /* display: block; - This converts inline into block */
    display: inline-block; /*It makes box content into line-block element where it consumes only the required space*/
}