.div1{
    border: 2px solid saddlebrown;
    background-color: gainsboro;
    width: 600px;
    margin: 10px;
    padding: 15px;
}
a{
    text-decoration: none; /*It is used to remove the underline from a link*/
}
.btn{
    background-color: thistle;
    margin-top: 5px;
    border: 1px solid black;
    color: black;
    border-radius: 3px;
    cursor: pointer; /*It is used to change the cursor to pointer when cursor is placed over buttons*/
}
/*pseudo selectors*/
.btn:hover{ /*It is used to change the color of the buttons when the cursor is taken over the text*/
    background-color: rebeccapurple;
    color: whitesmoke;
}
.btn:visited{ /*It is used to change the color of the buttons when the link is already visited*/
    background-color: lightseagreen;
    color: aliceblue;
}
.btn:active{ /*It is used to change the color of the buttons when the button is clicked until click get released*/
    background-color: bisque;
    color: mediumslateblue;
}