.para1{
    height: 60px;
    width: 300px;
    border-width: 2px;
    border-style: solid;
    border-color: mediumslateblue;
    /* border: 1.5px dotted peru; (shortcut in one line)*/ 
    /* border-radius: 10px; (radius for all the four sides)*/
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
}